# Byte-compiled / optimized / DLL files
ETL/data/dataset_img/*
ETL/.output/data/nettoye.parquet/
ETL/.output/data/nettoye.csv/
ETL/ressource/*
# Ignorer les fichiers de données
ETL/data/OpenAnimalTracks/*
.env
# Ignorer les environnements virtuels
.venv/
venv/
# Ignorer les fichiers temporaires et spécifiques à PyCharm
.idea/
.pynb_checkpoints/
__pycache__/
*.py[cod]
*$py.class
.idea
# C extensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/
.pytest_cache/
cover/

# Translations
*.mo
*.pot

# Django stuff:
*.log
local_settings.py
db.sqlite3
db.sqlite3-journal

# Flask stuff:
instance/
.webassets-cache
*.pyc
*.pyo
*.DS_Store

# Ignorer les fichiers liés à l'environnement de PyCharm
243_*_pycharm-support-libs/
.Trash-1000/
